/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:


$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

/* Empty. Add your own CSS if you like */

$teal: #00a78f;
$add: rgb(51, 205, 95);
$highlight: #00a78f; //#00a78f;
$yellow: #fed500; // #e3bc13
$yellow-hover: #fbeaae;
$grey: #c0bfc0;
$text: #272727;
$white: #fff;
$error: #ef473a;

// $white: #235454;
// $highlight: #fed500;
// $text: #272727;

body {
  font-family: 'Helvetica';
  font-size: 100%;
  color: $text;
  background-color: $white;
}

button.btn-icon.icon {
  &::after {
    color: $highlight;
  }
  &::before {
    color: $highlight;
  }
  // background-color: $highlight;
  color: $highlight;
}


.icon, .icon::before, span.tab-title {
  color: $highlight;
}

a.tab-item-active i, a.tab-item-active i::before, a.tab-item-active i::after, a.tab-item-active span, a.tab-item-active.icon {
  color: $highlight;
  &:hover {
    border-color: $highlight;
    color: $highlight;
  }
  &:active {
    border-color: $highlight;
    color: $highlight;
  }
  &:focus {
    border-color: $highlight;
    color: $highlight;
  }
}



a.tab-item-activated i, a.tab-item-activated i::before, a.tab-item-activated i::after, a.tab-item-activated span, a.tab-item-activated.icon {
  color: $highlight;
  &:hover {
    border-color: $highlight;
    color: $highlight;
  }
  &:active {
    border-color: $highlight;
    color: $highlight;
  }
  &:focus {
    border-color: $highlight;
    color: $highlight;
  }
}

a.tab-item i, a.tab-item i::before, a.tab-item i::after, a.tab-item span, a.tab-item.icon {
  color: $highlight;
  &:hover {
    border-color: $highlight;
    color: $highlight;
  }
  &:active {
    border-color: $highlight;
    color: $highlight;
  }
  &:focus {
    border-color: $highlight;
    color: $highlight;
  }
}

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active {
  border-color: $highlight;
  color: $highlight;
  &:hover {
    border-color: $highlight;
    color: $highlight;
  }
  &:active {
    border-color: $highlight;
    color: $highlight;
  }
  &:focus {
    border-color: $highlight;
    color: $highlight;
  }
}

ion-option-button.ion-trash-a {
  color: $white;
  &::before {
    color: $white;
  }
  &::after {
    color: $white;
  }
}

.activated {
  color: $highlight !important;
  border-color: $highlight !important;
  &:hover {
    border-color: $highlight;
    color: $highlight;
  }
  &:active {
    border-color: $highlight;
    color: $highlight;
  }
  &:focus {
    border-color: $highlight;
    color: $highlight;
  }
}


/*splash page*/
.view {
  background-color: $white;


  .splash-content {
    margin: 0 auto;
    margin-top: 45%;
    width: 100%;
    display: block;

    img {
      width: 55%;
      margin: 0 auto;
      display: block;
      margin-bottom: 2em;
    }

  }

  .splash-button-container {
    width: 75%;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 6em;
    a {
      &:hover {
        color: $teal;
      }
      &:first-child {
        border-right: 2px solid $highlight;
        text-align: right;
        padding-right: 7px;
      }
      &:last-child{
        padding-left: 2px;
      }
      width: 100%;
      color: $highlight;
      border: none;
      background-color: $white;
      border-radius: 0;
    }
  }



  input {
    border-radius: 0 !important;
    background-color: $white;
    -webkit-appearance: none;
    border: none !important;
    border-bottom: 2px solid $highlight !important;
  }



}

.view-items {
  input {
    padding: 5px;
  }
  .list {
    margin: .5em;
  }
  div.item-content {
    padding: 0;
    border: none;
  }

  .item {
    // padding: 0;
    border: 0;
    width: 100%;
    input {
      margin-right: 10px;
      // text-align: center;
    }
  }
  .item-select {

    background-color: $white;
    border: none !important;
    /* border-bottom: 2px solid teal; */
    height: 32px;


    option {
      background:#444;
    }

    select::-ms-expand {
        display: none;
    }

    :focus {
      outline:none;
    }
  }

  .select-style {
    // background-image: url('img/arrow-down.png');
    // background-size: contain;
    border-bottom: 2px solid $highlight;
    margin-top: 0px;

    &:after {
      pointer-events: none;
      content: '';
      height: 29px;
      right: 9px;
      top: 12px;
      padding: 4px;
      width: 25px;
      background-repeat: no-repeat;
      background-image: url(../img/chevron-down.svg);
      background-size: contain;
      position: absolute;
      background-color: $white;

    }

  }
  .select-style-add {
    margin-top: -3px;
    .item-select {
      height: 32px;
    }
    &:after {
      pointer-events: none;
      content: '';
      height: 28px;
      right: 9px;
      top: 11px;
      padding: 4px;
      width: 25px;
      background-repeat: no-repeat;
      background-image: url(../img/chevron-down.svg);
      background-size: contain;
      position: absolute;
      background-color: $white;
    }
  }

  .add-item {
    padding: 0;
  }
  .add-item-button {
    display: block;
    float: right;
    color: $highlight;
    margin-top: -.5em;
    text-align: right;
    padding-right: 27.66px;
    margin-top: -10px;
  }

  .save-changes-btn {
    background-color: $highlight;
    color: $white;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2em;
    margin-top: 1em;
  }

  .item-name {

  }
  .price {
  }
}

.view-add {
  input {
    padding: 5px;
  }
  .list {
    margin: .5em;
  }
  div.item-content {
    padding: 0;
    border: none;
  }

  .item {
    // padding: 0;
    border: 0;
    width: 100%;
    input {
      margin-right: 10px;
      // text-align: center;
    }
  }
  .item-select {

    background-color: $white;
    border: none;
    /* border-bottom: 2px solid teal; */
    height: 32px;


    option {
      background:#444;
    }

    select::-ms-expand {
        display: none;
    }

    :focus {
      outline:none;
    }
  }

  .select-style {
    position: relative;
    // background-image: url('img/arrow-down.png');
    // background-size: contain;
    border-bottom: 2px solid $highlight;
    margin-top: 0px;

    &:after {
      pointer-events: none;
      content: '';
      height: 29px;
      /* right: 9px; */
      left: 5px;
      top: 3px;
      padding: 4px;
      width: 25px;
      background-repeat: no-repeat;
      background-image: url(../img/chevron-down.svg);
      background-size: contain;
      position: absolute;
      background-color: #fff;

    }

  }
  .select-style-add {
    margin-top: -3px;
    .item-select {
      height: 32px;
    }
    &:after {
      pointer-events: none;
      content: '';
      height: 29px;
      left: 60px;
      top: 2px;
      padding: 4px;
      width: 25px;
      background-repeat: no-repeat;
      background-image: url(../img/chevron-down.svg);
      background-size: contain;
      position: absolute;
      background-color: $white;
    }
  }

  .add-item {
    padding: 0;
  }
  .add-item-button {
    display: block;
    float: right;
    color: $highlight;
    margin-top: -.5em;
    text-align: right;
    padding-right: 27.66px;
    margin-top: -10px;
  }

  .save-changes-btn {
    background-color: $highlight;
    color: $white;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2em;
    margin-top: 1em;
  }

  #pickedImage {
    background-image: url(img/test.JPG);
    background-size: cover;
    display: block;
    background-position: center;
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }

  .date {
    margin-right: -52px !important;
  }

  .category {
    height: 22px;
    background-color: $white;
    -webkit-appearance: none;
  }

  .category.ng-pristine {
      color: #B3B3B3;
  }

  .select-style::after {
    right: -10px;
    left: auto;
  }
}

.delete-receipt {
  color: $error;
  &:before {
    color: $error;
  }
  &:after {
    color: $error;
  }
}

.add-receipt {
  color: $add !important;
  &:before {
    color: $add !important;
  }
  &:after {
    color: $add !important;
  }
}

.toggle.toggle-assertive input:checked + .track {
    border-color: $add !important;
    background-color:  $add !important;
  }
