<ion-modal-view>
  <ion-header-bar>
    <div class="bar bar-header">
      <button class="button button-light" ng-click="closeModal()"><i class="icon ion-ios-arrow-back"></i></button>
      <h1 class="title">Graph Controller</h1>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <ul class="list padding">
      <div>
        <li ng-repeat="(key, value) in allItems | omit: 'tag === null' | groupBy: 'tag' " class="item item-toggle">
          <!-- {{item.name}} {{item.price}} {{item.tag}} -->
          {{ key }}
          <label class="toggle toggle-assertive">
       <input type="checkbox" ng-checked="true" ng-click="toggleTags(value)">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
        </li>
      </div>
    </ul>
  </ion-content>
</ion-modal-view>
