<ion-view cache-view="false" view-title="Graphs">
  <ion-nav-buttons>
    <button class="button button-clear button-calm" ng-click="showGraphControl(receipts)"><i class="icon ion-android-options"></i></button>
  </ion-nav-buttons>
  <ion-content class="padding">

    <nvd3 options="options" data="data" api="api"></nvd3>
    <!-- <svg width="960" height="500"></svg> -->
    <div class="item range">
      <i class="icon ion-ios-clock-outline"></i>
      <input type="range" ng-change="updateRange()" ng-model="xMin.value" id="input" min="7" max="30">
      <i class="icon ion-ios-clock"></i>
    </div>
  </ion-content>
</ion-view>
