<ion-modal-view class='view'>
  <ion-header-bar>
    <button class="button button-light" ng-click="closeReceiptModal()"><i class="icon ion-ios-arrow-back"></i></button>
    <title class="title">New Receipt
    </title>
  </ion-header-bar>
  <ion-content>
    <img id="pickedImage" ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
    <img id="example" ng-show="imgURI === undefined" ng-src="img/ReceiptSwiss.jpg">
    <button class="button btn icon ion-ios-camera" ng-click="takePicture()">Choose an Image</button>
    <button class="button btn" ng-click="getText()">Process Text</button>
    <!-- <p value="{{recognizedText}}">Text Result</p> -->
     <!-- <ion-icon class="button" ng-click="takePicture()" name="camera"></ion-icon> -->
    <!-- <button class="button button-block button-positive" type="button" ng-click="getReceipts()">Get Receipts</button> -->
    <form ng-submit="addNewReceipt()">
      <div class="list">
        <div class="item item-input-inset">
          <input type="text" ng-model='newReceipt.location' placeholder='Location' style='width: 200px' />
          <input type="date" ng-model='newReceipt.date'></input>
          <button class="button icon ion-ios-camera button-light" ng-click="takePicture()"></button>
        </div>
      </div>

      <img id="pickedImage" ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
      
      <!-- <img id="example" ng-show="imgURI === undefined" ng-src="img/ReceiptSwiss.jpg"> -->

      <div class="list" ng-repeat="item in inputItems">
        <div class="item item-input-inset">
          <input class="col col-45" ng-model="listItems[$index].name" type="text" placeholder="{{item.input}}" />
          <input class="col col-25" ng-model="listItems[$index].price" type="text" placeholder="{{item.price}}" />
          <select class="col col-25 item-select" ng-model="listItems[$index].tag_id">
            <option value="{{tag.id}}" ng-repeat='tag in allTags'>{{tag.tag}}</option>
          </select>
          <button class='button icon ion-ios-minus-empty button-light' ng-if="$index !== (inputItems.length - 1)" ng-click="deleteInput($index)"></button>
          <button class='button icon ion-ios-plus-empty button-light' ng-if="$index === (inputItems.length - 1)" ng-click="addInput()"></button>
        </div>
      </div>
      <button class='button icon button-block' type="submit"> Save </button>
    </form>
  </ion-content>
</ion-modal-view>
