<ion-modal-view>
  <ion-header-bar>
    <button class="button button-light" ng-click="closeModal()"><i class="icon ion-ios-arrow-back"></i></button>
    <input value='{{receipt.location}}'>

  </ion-header-bar>
  <ion-content>

    <ion-list can-swipe='true'>

      <ion-item ng-repeat="item in items">
        <div class='list'>
          <div class='item item-input-inset'>
            <input class='col col-45' type='text' ng-model='item.name' placeholder='item name' />
            <input class='col col-25' type='text' ng-model='item.price' placeholder='price' />
            <select ng-init='tagSelected=item.tag' ng-model='tagSelected' ng-change='getSelectedTag(tagSelected, item)'>
                <option ng-repeat='tag in allTags'>{{tag.tag}}</option>
              </select>
          </div>
        </div>
        <ion-option-button class="button-assertive icon ion-trash-a" ng-click='deleteItem(item.id, receipt.id)'></ion-option-button>
      </ion-item>

      <ion-item>
        <form ng-submit='addItem(receipt)'>
          <div class='list'>
            <div class='item item-input-inset'>
              <input class='col col-45' ng-model='newItem.name' placeholder='item name' />
              <input class='col col-25' ng-model='newItem.price' placeholder='price' />
              <select ng-model='newItem.tag_id'>
                <option value= "{{tag.id}}" ng-repeat='tag in allTags'>{{tag.tag}}</option>
              </select>
              <button type="submit" class='button icon ion-ios-plus-empty button-light'></button>
            </div>

          </div>

        </form>
      </ion-item>
    </ion-list>

    <button class='button icon button-block' ng-click='editItems()'>Save changes</button>

  </ion-content>
</ion-modal-view>
