<ion-view class="view" view-title="Receipts">
  <ion-nav-buttons side="right">
    <button class="button btn-icon icon ion-ios-plus-empty button-balanced button-clear" ng-click="showAddReceipt()"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="false" can-swipe="true">
      <ion-item ng-repeat="receipt in receipts" ng-click="showItems(receipt)">
        {{receipt.location}} {{receipt.date | date : format : shortDate}}
        <!-- <ion-option-button class="button-light icon ion-heart"></ion-option-button> -->
        <ion-option-button ng-click="deleteReceipt(receipt)" class="button-assertive icon ion-trash-a"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
