<ion-modal-view>
  <ion-header-bar>
    <button class="button button-light" ng-click="closeSignIn() && signIn.$setUntouched()"><i class="icon ion-ios-arrow-back"></i></button>
    <title class="title">Log In</title>
  </ion-header-bar>
  <ion-content class="padding">
    <form name="signIn" ng-submit="login()" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" name="email" ng-model="loginData.email" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="loginData.password" ng-minlength='6' required>
        </label>
        <div class="padding assertive">
          <p class="center" ng-if="signInError">{{signInError}}</p>
        </div>
        <label class="item">
          <button ng-disabled="signIn.$invalid" class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
